// fontes
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

// variáveis

/*@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone:          			~"only screen and (min-width: @{xs-min})";
@phone-strict:   			~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         			~"only screen and (min-width: @{sm-min})";
@tablet-strict:  			~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        			~"only screen and (min-width: @{md-min})";
@desktop-strict: 			~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          			~"only screen and (min-width: @{lg-min})";*/

@smartphone:			~"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
@smartphone-portrait:	~"only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait)";
@tablet:				~"only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
@tablet-portrait:		~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait)";
@desktop:				~"only screen and (min-width : 1224px)";
@large:					~"only screen and (min-width : 1824px)";

// fontes
@Roboto: 			'Roboto', sans-serif;
@RobotoCondensed: 	'Roboto Condensed', sans-serif;
@RobotoSlab: 		'Roboto Slab', serif;

ul.paginacao {
    margin-top: 20px;

    li:first-child {

        &.disabled {

            a {
                background: url(../img/site/seta-paginacao.png) bottom left no-repeat ;
            }
        }

        a {
            width: 14px;
            height: 25px;
            float: left;
            background: url(../img/site/seta-paginacao.png) top left no-repeat ;
            text-indent: -9999px;
        }
    }

    li:last-child {

        &.disabled {

            a {
                background: url(../img/site/seta-paginacao.png) bottom right no-repeat ;
            }
        }

        a {
            width: 14px;
            height: 25px;
            float: left;
            background: url(../img/site/seta-paginacao.png) top right no-repeat ;
            text-indent: -9999px;
        }
    }

    li {

        &.active {

            a {
                font-size: 20px;
                color: #15599B;
            }
        }

        a {
            font-family: @RobotoCondensed;
            font-size: 16px;
            color: #525252;
            float: left;
        }
    }
}

body {
    font-family: @Roboto;
    font-size: 13px;
    color: #000;
}

header {
    padding: 20px 0;

    ul.menu {

        li {
            position: relative;
            margin-top: 20px;

            &:hover {

                ul {
                    display: block;
                }
            }

            a {
                font-family: @RobotoCondensed;
                font-size: 16px;
                color: #16599C;
                text-transform: uppercase;
                font-weight: 300;
                padding: 20px;

                @media @tablet {
                    padding: 9px;
                }

                &:hover, &.ativo {
                    color: #000;
                    font-weight: 400;
                    text-decoration: none;

                }
            }

            ul {
                display: none;
                position: absolute;
                float: left;
                list-style: none;
                z-index: 600;
                padding-left: 0;
                width: 180px;
                border: 1px #DDDDDD solid;
                margin-top: 10px;
                left: 15px;

                li {
                    margin: 0;

                    a {
                        background: #FFFFFF;
                        width: 100%;
                        float: left;
                        border-bottom: 1px #DDDDDD solid;
                        padding: 10px;

                        &:hover, &.ativo {
                            background: #EEEEEE;
                        }
                    }
                }
            }
        }
    }
}

section.conceitual {
    background: #000000 url(../img/site/home-topo.jpg);

    img {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        display: block;

        &:first-child {
            position: static;
            z-index: 100;
        }
    }

    .cycle-pager {
        text-align: center;
        width: 100%;
        z-index: 500;
        position: absolute;
        bottom: 10px;
        overflow: hidden;

        & > * {
            cursor: pointer;
        }

        span {
            font-family: arial;
            font-size: 50px;
            text-indent: -9999px;
            width: 16px;
            height: 16px;
            display: inline-block;
            background: transparent;
            border: 1px #fff solid;
            cursor: pointer;
            border-radius: 10px; /* must be the same as width and height */
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            margin-right: 5px;

            &.cycle-pager-active {
                background: #F3F3F3;
            }
        }
    }
}

section.frase {
    padding: 40px 0;

    p {
        font-size: 28px;
        font-weight: 100;
        font-style: italic;
        color: #003040;
        margin: 0;
    }
}

section.sobre {
    padding: 40px 0;
    background: url(../img/site/bg-sobre.jpg) top center no-repeat;
    overflow: hidden;

    @media @tablet-portrait {
        height: 480px;
    }

    .wrapper {
        left: 195px;
        height: 340px;

        @media @tablet-portrait {
            left: 0;
        }

        @media @smartphone-portrait{
            left: 0;
        }

        .logo {
            width: 133px;
            float: left;
        }

        .content {
            background: #fff;
            padding: 25px 65px;
            top: -132px;
            left: 134px;
            width: 130%;
            float: left;
            position: relative;

            @media @smartphone-portrait {
                top: 0;
                left: 0;
            }

            div {
                width: 50%;

                @media @smartphone-portrait {
                    width: 100%;
                }
            }

            h2 {
                margin: 0;
                font-family: @RobotoCondensed;
                font-size: 30px;
                font-weight: 300;
                margin-bottom: 15px;
            }

            p {
                font-family: @Roboto;
                font-weight: 300;
                font-size: 13px;
                margin-bottom: 15px;
            }

            a {
                background: #16599C;
                color: #fff;
                font-family: @RobotoCondensed;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                -webkit-border-radius: 0 0 0 0;
                border-radius: 0 0 0 0;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }

}

section.destaques-capa {
    padding: 40px 0;
    background: #F3F3F3;

    h2 {
        margin: 0;
        font-family: @RobotoCondensed;
        font-size: 40px;
        color: #16599C;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
    }

    .destaque {
        margin-top: 40px;
        position: relative;

        .infos {
            width: 100%;
            float: left;
            padding: 0 40px;
            bottom: 40px;
            position: absolute;

            span {
                background: #16599C;
                color: #FFFFFF;
                font-family: @RobotoCondensed;
                font-size: 13px;
                font-weight: bold;
                padding: 10px;
                text-transform: uppercase;
            }

            h3 {
                font-size: 15px;
                color: #fff;
                margin: 20px 0;
                text-shadow: 1px 2px 5px #666666;
            }
        }

        a {
            width: 100%;
            float: left;
            padding: 10px;
            text-align: right;
            text-transform: uppercase;
            background: #DDDDDD;
            font-family: @RobotoCondensed;
            font-size: 13px;
            color: #444444;
            position: absolute;
            bottom: -1px;
        }
    }

    .outros-destaques {
        margin-top: 40px;

        span {
            background: #16599C;
            color: #FFFFFF;
            font-family: @RobotoCondensed;
            font-size: 14px;
            font-weight: bold;
            padding: 10px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 15px;
            color: #253958;
            margin-top: 20px;
            margin-bottom: 20px;
            min-height: 80px;
        }

        p {
            font-size: 12px;
            color: #545454;
            margin-bottom: 20px;
            min-height: 100px;
        }

        a {
            float: right;
            font-family: @RobotoCondensed;
            font-size: 13px;
            color: #444444;
            text-transform: uppercase;
        }
    }
}

section.revista {
    background: url(../img/site/bg-revista.jpg) top center repeat;
    overflow: hidden;

    @media @smartphone-portrait {
        background: #fff;
    }

    .smartphone {
        @media @smartphone-portrait {
            margin-top: 15px;
        }
    }

    h2 {
        font-size: 40px;
        color: #0C1C2C;
        text-transform: uppercase;
        margin-top: 100px;
        margin-bottom: 0;
        font-family: @RobotoCondensed;
        font-weight: 300;

        @media @tablet-portrait {
            margin-top: 40px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 300;
        color: #131304;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 15px;
        margin: 0 0 20px 0;

        li {
            list-style-image: url(../img/site/seta.png);
            font-family: @RobotoCondensed;
            font-size: 18px;
            text-transform: uppercase;
            color: #16599C;
        }
    }

    a {
        background: #16599C;
        color: #fff;
        font-family: @RobotoCondensed;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        font-weight: bold;

        &:hover {
            color: #fff;
        }
    }
}

.titulo-galeria {
    padding: 40px 0;
    background: #15324F;

    h2 {
        font-family: @RobotoCondensed;
        font-size: 40px;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
    }
}

.videos-fotos {
    padding: 40px 0;
    background: #1B4065;

    .fotos {

        @media @smartphone-portrait {
            margin-top: 20px;
        }
    }

    h3 {
        font-family: @RobotoCondensed;
        font-size: 30px;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #245586;
        margin: 1em 0;
        padding: 0;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        margin: 0 0 20px;
    }

    .margin-bottom {
        margin-bottom: 10px;

        iframe {
            width: 100%;
            height: 335px;

            @media @tablet-portrait {
                height: 252px;
            }

            @media @tablet {
                height: 274px;
            }
        }
    }

    a.link {
        width: 100%;
        float: left;
        padding: 20px;
        background: #fff;
        text-align: right;
        text-transform: uppercase;
        font-family: @RobotoCondensed;
        font-size: 16px;
        color: #253958;
        font-weight: bold;
    }

    .foto-retrato {
        overflow: hidden;
        height: 330px;

        @media @tablet-portrait {
            height: 247px;
        }

        @media @tablet {
            height: 268px;
        }

        @media @smartphone-portrait {
            height: 246px;
        }
    }

    .foto-paisagem {
        overflow: hidden;


        @media @tablet-portrait {
            height: auto;
        }

        @media @tablet {
            height: auto;
        }
    }
}

section.indicacoes {
    padding: 40px 0;
    background: #F3F3F3;

    h2 {
        font-family: @RobotoCondensed;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 300;
        color: #15324F;

        @media @tablet-portrait {
            font-size: 30px;
        }
    }

    p {
        font-family: @Roboto;
        font-weight: 300;
        font-size: 14px;
        color: #131304;
        margin-bottom: 0;
        margin-top: 50px;

        @media @tablet-portrait {
            margin-top: 20px;
        }
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
    }

    .livro {
        margin-top: 20px;

        .capa {
            width: 120px;
            position: relative;

            .zoom {
                position: absolute;
                right: -10px;
                top: 0px;
            }
        }

        h3 {
            color: #0059B2;
            font-size: 15px;
            min-height: 30px;
        }

        p {
            margin: 0;
            font-size: 12px;
            color: #535353;
            min-height: 70px;
        }

        a {
            float: right;
            font-family: @RobotoCondensed;
            font-size: 13px;
            color: #444444;
            text-transform: uppercase;
        }
    }
}

section.topo {
    background: #000 url(../img/site/interna-topo.jpg);

    .migalhas-de-pao {
        background: #F3F3F3;
        float: right;
        padding: 15px;
        position: relative;
        right: 15px;
        bottom: -28px;

        a {
            text-transform: uppercase;
            font-size: 13px;
            font-family: @RobotoCondensed;
            color: #000;
        }
    }

    h1 {
        font-family: @RobotoCondensed;
        font-size: 50px;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
    }

    .instituto {
        padding: 75px 0;
    }

    .destaques {
        padding: 75px 0;
    }

    .galerias {
        padding: 75px 0;
    }

    .indicacoes {
        padding: 75px 0;
    }
}

section.o-instituto {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 30px;
        font-weight: 300;

        &.margin-top {
            margin-top: 80px;
        }
    }

    p {
        font-weight: 300;
        margin-bottom: 20px;

        &.italic {
            font-style: italic;
        }
    }

    ul.menu-institucional {

        li {
            list-style-image: url(../img/site/seta.png);
            margin-bottom: 10px;

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 0;

                    a {
                        font-size: 14px;
                    }
                }
            }

            a {
                text-transform: uppercase;
                font-family: @RobotoCondensed;
                font-size: 20px;
                color: #14599A;
            }
        }
    }
}

section.historico {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    .timeline {
        background: url(../img/site/bg-timeline.png) center top no-repeat;
        min-height: 100px;
        margin-top: 30px;

        .linha {
            background: url(../img/site/bg-linha-timeline.jpg) 50% 25% no-repeat;
        }

        .linha-esquerda {
            background: url(../img/site/bg-timeline-horizontal.png) 300px 98px no-repeat;
        }

        .linha-direita {
            background: url(../img/site/bg-timeline-horizontal.png) 20px 98px no-repeat;
        }

        .alinha-direita {
            margin-left: 20px;
            /* margin-top: 15%; */
            position: absolute;
            top: 50px;
        }

        .alinha-esquerda {
            /* margin-top: 15%; */
            float: right;
            margin-right: 20px;
            position: absolute;
            right: 20px;
            top: 50px;
        }

        /* .momento {
            width: 300px;
        } */

        p {
            margin: 10px 0;
            font-size: 15px;
            color: #15324F;
        }

        a {
            background: #16599C;
            color: #FFFFFF;
            font-family: @RobotoCondensed;
            font-size: 13px;
            text-transform: uppercase;
            float: left;
            padding: 10px;

            i {
                width: 15px;
                height: 16px;
                float: left;
                background: url(../img/site/ico-download.png) no-repeat;
                margin-right: 10px;
            }
        }
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    hr.vertical {
        height: 1000px;
        padding-bottom: 1000px;
        border: none;
        border-left: 2px solid #ACACAC;
        width: 0;
        margin: -1000px auto;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        color: #16599C;
        text-transform: uppercase;
        font-family: @RobotoCondensed;

        &.margin-top {
            margin-top: 80px;
        }
    }

    p {
        font-weight: 300;
        margin-bottom: 20px;

        &.italic {
            font-style: italic;
        }
    }

    .bubble-bottom {
        position: relative;
        width: 140px;
        height: 55px;
        padding: 0px;
        background: #FFFFFF;
        border: #d4d4d4 solid 2px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        span {
            text-align: center;
            width: 100%;
            float: left;
            font-size: 22px;
            font-family: @RobotoCondensed;
            color: #777777;
            font-weight: bold;
            margin-top: 10px;
        }
    }

    .bubble-bottom:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 55px;
        border-style: solid;
        border-width: 15px 15px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
    }

    .bubble-bottom:before {
        content: "";
        position: absolute;
        top: 53px;
        left: 54px;
        border-style: solid;
        border-width: 16px 16px 0;
        border-color: #d4d4d4 transparent;
        display: block;
        width: 0;
        z-index: 0;
    }

    .bubble-left {
        position: relative;
        width: 140px;
        height: 55px;
        padding: 0px;
        background: #FFFFFF;
        border: #d4d4d4 solid 2px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        span {
            text-align: center;
            width: 100%;
            float: left;
            font-size: 22px;
            font-family: @RobotoCondensed;
            color: #777777;
            font-weight: bold;
            margin-top: 10px;
        }
    }

    .bubble-left:after {
        content: "";
        position: absolute;
        top: 12px;
        left: -15px;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
    }

    .bubble-left:before {
        content: "";
        position: absolute;
        top: 11px;
        left: -18px;
        border-style: solid;
        border-width: 16px 16px 16px 0;
        border-color: transparent #d4d4d4;
        display: block;
        width: 0;
        z-index: 0;
    }

    .bubble-right {
        position: relative;
        width: 140px;
        height: 55px;
        padding: 0px;
        background: #FFFFFF;
        border: #d4d4d4 solid 2px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        span {
            text-align: center;
            width: 100%;
            float: left;
            font-size: 22px;
            font-family: @RobotoCondensed;
            color: #777777;
            font-weight: bold;
            margin-top: 10px;
        }
    }

    .bubble-right:after {
        content: "";
        position: absolute;
        top: 12px;
        right: -15px;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
    }

    .bubble-right:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 138px;
        border-style: solid;
        border-width: 16px 0 16px 16px;
        border-color: transparent #d4d4d4;
        display: block;
        width: 0;
        z-index: 0;
    }

    ul.menu-institucional {

        li {
            list-style-image: url(../img/site/seta.png);
            margin-bottom: 10px;

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 0;

                    a {
                        font-size: 14px;
                    }
                }
            }

            a {
                text-transform: uppercase;
                font-family: @RobotoCondensed;
                font-size: 20px;
                color: #14599A;
            }
        }
    }
}

section.membros {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 30px;
        font-weight: 300;

        &.margin-top {
            margin-top: 80px;
        }
    }

    p {
        font-weight: 300;
        margin-bottom: 20px;

        &.italic {
            font-style: italic;
        }

        &.no-link {
            margin-bottom: 0;
        }
    }

    ul.menu-institucional {

        li {
            list-style-image: url(../img/site/seta.png);
            margin-bottom: 10px;

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 0;

                    a {
                        font-size: 14px;
                    }
                }
            }

            a {
                text-transform: uppercase;
                font-family: @RobotoCondensed;
                font-size: 20px;
                color: #14599A;
            }
        }
    }
}

section.pensadores {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 30px;
        font-weight: 300;

        &.margin-top {
            margin-top: 80px;
        }
    }

    p {
        font-weight: 300;
        margin-bottom: 20px;

        &.italic {
            font-style: italic;
        }

        &.no-link {
            margin-bottom: 0;
        }
    }

    .wrapper {
        width: 90px;

        @media @smartphone-portrait {
            width: auto;
        }

        h3 {
            color: #15599B;
            font-family: @RobotoCondensed;
            font-size: 16px;
            text-align: center;
            margin: 5px 0 15px;

            @media @smartphone-portrait {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    ul.menu-institucional {

        li {
            list-style-image: url(../img/site/seta.png);
            margin-bottom: 10px;

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 0;

                    a {
                        font-size: 14px;
                    }
                }
            }

            a {
                text-transform: uppercase;
                font-family: @RobotoCondensed;
                font-size: 20px;
                color: #14599A;
            }
        }
    }
}

section.destaques {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 30px;
        font-family: @RobotoCondensed;
        color: #000;
        text-transform: uppercase;

        &.margin-top {
            margin-top: 80px;
        }
    }

    .noticia {
        margin: 40px 0;

        span {
            background: #16599C;
            color: #FFFFFF;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
            font-weight: bold;
            padding: 10px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 20px;

            a {
                color: #253958;
            }
        }

        p {
            font-size: 12px;
            color: #545454;
            margin-bottom: 20px;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #DDDDDD;
            margin: 1em 0;
            padding: 0;
            left: 0;
        }

        a.link {
            float: right;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 13px;
            color: #444444;
            text-transform: uppercase;
        }
    }
}

section.destaques-interna {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    span {
        background: #16599C;
        color: #FFFFFF;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
    }

    span.data {
        background: transparent;
        color: #444444;
        font-weight: normal;
        font-size: 13px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 25px 0;
        font-size: 24px;
        font-family: @Roboto;
        color: #253958;

        &.margin-top {
            margin-top: 80px;
        }
    }

    p {
        font-weight: 300;
        font-size: 13px;
        margin: 0 0 20px;
        line-height: 20px;
    }
}

section.galerias {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 30px;
        font-family: @RobotoCondensed;
        color: #000;
        text-transform: uppercase;

        &.margin-top {
            margin-top: 80px;
        }
    }

    .wrapper {
        background: #fff;
        padding: 15px;
        margin-bottom: 15px;

        h3 {
            color: #253958;
            font-size: 15px;
            margin: 0;

            a {
                color: #253958;
            }
        }
    }
}

section.galeria-interna {
    padding: 40px 0;
    background: #1A1A1A;

    h1 {
        font-family: @RobotoCondensed;
        font-size: 50px;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
    }

    h2 {
        font-family: @Roboto;
        font-size: 22px;
        color: #fff;
        margin: 0;
    }

    .wrapper {
        width: 100%;
        /* height: 800px; */

        .img {
            width: 100%;
            height: 720px;
            overflow: hidden;

            @media @tablet-portrait {
                height: 470px;
            }

            @media @smartphone-portrait {
                height: 200px;
            }
        }

        img {
            width: 100%
        }

        iframe {
            width: 100%;
            height: 720px;

            @media @tablet-portrait {
                height: 470px;
            }

            @media @smartphone-portrait {
                height: 200px;
            }
        }

        p {
            margin: 10px 0;
            text-align: center;
            color: #fff;
            font-size: 13px;
        }
    }
}

section.thumbnails {
    padding: 10px 0;

    img {
        cursor: pointer;
    }

    .cycle-prev, .cycle-next {
        position: absolute;
        width: 14px;
        height: 25px;
        float: left;
        background: url(../img/site/seta-paginacao.png) no-repeat;
        text-indent: -9999px;
        top: 65px;

        @media @tablet-portrait {
            top: 35px;
        }

        @media @smartphone-portrait {
            top: 3px;
        }
    }

    .cycle-prev {
        background-position: left top;
        left: 0px;
    }

    .cycle-next {
        background-position: right top;
        right: 0px;
    }
}

section.indicacoes-bibliograficas {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 30px;
        font-family: @RobotoCondensed;
        color: #000;
        text-transform: uppercase;

        &.margin-top {
            margin-top: 80px;
        }
    }

    .livro {
        margin-top: 20px;

        .capa {
            width: 120px;
            position: relative;

            .zoom {
                position: absolute;
                right: -10px;
                top: 0px;
            }
        }

        h3 {
            color: #0059B2;
            font-size: 15px;
            min-height: 30px;
        }

        p {
            margin: 0;
            font-size: 12px;
            color: #535353;
            min-height: 70px;
        }

        a {
            float: right;
            font-family: @RobotoCondensed;
            font-size: 13px;
            color: #444444;
            text-transform: uppercase;
        }
    }
}

section.indicacoes-bibliograficas-interna {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    background: #F3F3F3;

    span {
        background: #16599C;
        color: #FFFFFF;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
    }

    span.data {
        background: transparent;
        color: #444444;
        font-weight: normal;
        font-size: 13px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #DDDDDD;
        margin: 1em 0;
        padding: 0;
        position: relative;
        left: -75%;
    }

    h2 {
        margin: 25px 0;
        font-size: 24px;
        font-family: @Roboto;
        color: #253958;

        &.margin-top {
            margin-top: 80px;
        }
    }

    p {
        font-weight: 300;
        font-size: 13px;
        margin: 0 0 20px;
        line-height: 20px;
    }
}

footer {
    padding: 60px 0;
    background: #15324F;

    h3 {
        margin: 0;
        font-family: @RobotoCondensed;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
    }

    hr.linha {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #245586;
        margin: 1em 0;
        padding: 0;
        left: 0;
    }

    .form-contato {

        .retorno-contato {

            .success, .error {
                padding: 5px;
                margin-bottom: 10px;
                float: left;
            }

            .success {
                color: #4F8A10;
                background-color: #DFF2BF;
            }

            .error {
                color: #D8000C;
                background-color: #FFBABA;
            }
        }

        .group-form {
            margin-bottom: 20px;
            width: 100%;
            float: left;

            &.last {
                margin-bottom: 0;
            }

            label {
                color: #fff;
                font-weight: 300;

            }

            label.error {
                color: #FFBABA;
            }

            input.error, textarea.error {
                border: 1px #FFBABA solid;
            }

            input[type="text"], input[type="email"], textarea {
                -webkit-border-radius: 0 0 0 0;
                border-radius: 0 0 0 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            textarea {
                height: 75px;
            }

            button {
                -webkit-border-radius: 0 0 0 0;
                border-radius: 0 0 0 0;
                text-transform: uppercase;
                background: #16599C;
                color: #fff;
                font-family: @RobotoCondensed;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .endereco {
        p {
            font-size: 14px;
            font-weight: 200;
            color: #fff;
            margin: 0;

            a {
                color: #fff;
            }
        }
        a.ver-mapa {
            background: #16599C;
            color: #fff;
            text-transform: uppercase;
            -webkit-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    ul.menu {
        margin-top: 25px;
        list-style: none;

        li {
            padding: 10px 0;

            &:before {
                content: "";
                width: 8px;
                height: 8px;
                background-color: #0059B2;
                float: left;
                margin: 6px 0 0 -15px;
                border-radius: 50%;
            }

            a {
                font-family: @RobotoCondensed;
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1050px) { /*Custom breakpoint*/

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: inline-block;
        margin: 0;
        position:absolute;
        right:0;

        .icon-bar {
            background: #0085B2;
            height: 4px;
        }
    }

    .navbar-collapse.collapse.in {
        display: block!important;
    }

    .collapsing {
        overflow: hidden!important;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-collapse {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .navbar-nav {
        float: none!important;
        margin: 0;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        border: 0;
    }
}

ul.menu-tablet-mobile {

    li {
        border-bottom: 1px #ccc solid;

        ul {
            list-style: none;
        }

        a {
            font-size: 20px;
        }
    }
}

h2 {
    &.tit-prin {
        color:#16599c;
        font-weight: bold !important;
        font-size: 22px !important;
    }
    &.no-margin{
        margin: 0!important;
    }
}

.class1,
.class2{float:left;position:relative; display:block;}

.class1{
    padding:0 30px!important; border-right:none;

    h2,
    h3{padding:10px 0!important; color:#16599c; margin:0!important; font-weight:500!important;}

    h2{font-size:18px!important;}
    h3{font-size:15px!important;}

    input, select {
        border: 0;
        padding: 10px 12px;
        width: 100%;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #909;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #909;
            opacity:  1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #909;
            opacity:  1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    #909;
        }
        &::-ms-input-placeholder { /* Microsoft Edge */
            color:    #909;
        }
    }

    input[type=submit]{width:164px; margin:0 auto; position:relative; display:table; background-color:#16599c; color:#fff; margin-top: 20px;}

    ul {
        margin:0; padding:0;
    }

    li{padding: 8px 0; color:#16599c; font-size:14px; list-style:none;}

    figure {
        width: 100%;
        height:380px;
        background-color:#16599c;
        margin: 40px 0!important;
    }
}

.class2{
    padding:0 30px!important;
}

.clear{clear:both;}


.item-sel, 
.item-sel-int{
    color:#16599c; font-size:15px; padding: 8px 0;
}


.icon,
.text-sel {
    display: table;
    position: relative;
    float:left;
}

.icon {
    width: 20px;
    height: 20px;
    background: url(../img/site/arrow_next.svg) no-repeat center top;
    margin-right: 14px;
}

.accordion-toggle, .accordion-toggle-int {cursor: pointer;}
.accordion-content, .accordion-content-int {display: none;}

.accordion-int {
    padding-left: 24px;

    ul {
        li {
            // list-style: disc;
            margin-left:24px;
            padding:4px 0;

            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: -15px;
                width: 14px;
                height: 16px;
                background: url(http://itec-rs.fd/img/site/arrow_next.svg) no-repeat center top;
                background-size: contain;
            }
        }
    }
}

.flag {
    width:32px; height:21px; position: relative; margin:0 4px; float: right;

    &.en{background: url(../img/site/uk.svg) no-repeat center top;}
    &.pt{background: url(../img/site/brazil.svg) no-repeat center top;}
}

@media only screen and (min-width: 760px) {
    .class1{
        border-right:1px solid #16599c;

        figure {
            margin: 0 0 32px 0!important;
        }
    }
}

@media only screen and (min-width: 800px) {
    .class1{
        padding:0 80px 0 0!important;
        border-right:1px solid #16599c;

        figure {
            margin: 0 0 32px 0!important;
        }
    }

    .class2{
        padding:0 0 0 45px!important;
    }
}


.facebook-button{
    display: inline-block;
    text-decoration: none!important;
    margin-top: 15px;
}

.link_pdf_texto{
    display: inline-block;
    margin:  10px 0;
  
    @media only screen and (min-width: 800px) {
        position: absolute;
        top: 5px;
        right: 0;
    }
}
